* {
  margin: 0;
  padding: 0;
}

div {
  /* border-width: 5px;
  border-style: solid;
  border-color: red; */
  /* border: 5px dotted teal; */

  /* border-left: 4px solid crimson;
  border-right: 4px solid blueviolet;
  border-top: 4px solid;
  border-bottom: 4px solid gold; */

  border: 2px solid red;
  /* padding: 20px; */

  /* padding-top: 20px; */
  /* padding-left: 10px;
  text-align: right;
  padding-right: 20px; */

  padding: 10px 20px;

  /* margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px; */
  /* margin: 20px; */

  margin: 20px 0;
}
