.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Transform Properties */

/* .container > div { */
/* width: 200px; */
/* height: 200px; */
/* background-color: cyan; */

/* Value here can be positive or negative */
/* transform: translateX(200px); */
/* transform: translateY(-100px); */
/* transform: translate(100px, 50px); */

/* transform: rotate(60deg); */
/* transform: scaleX(0.5); */
/* transform: scaleY(1); */
/* transform: scale(2, 1); */

/* transform: skew(20deg); */
/* } */

.container > a {
  text-decoration: none;
  border: 2px solid red;
  padding: 10px 20px;
  color: brown;
  /* Transition Properties */
  /* transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease; */

  /* Resources */
  /* https://cubic-bezier.com/#.17,.67,.83,.67 */
  /* transition: all 1s cubic-bezier(0.65, 0.08, 0.99, 0.56); */
}

/* .container > a:hover { */
/* background: brown; */
/* color: white; */
/* } */

.container > div {
  width: 300px;
  height: 300px;
  background-color: darkblue;
  /* Animation */
  animation-name: InAndOut;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes InAndOut {
  0% {
    transform: scale(2);
  }

  50% {
    transform: scale(0.2);
    background-color: teal;
    transform: skew(10deg);
  }

  100% {
    background-color: blue;
    transform: skew(40deg);
    border-radius: 50%;
  }
}
