@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
}

/* Utility Styles */

button {
  padding: 10px 30px;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
}

/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #100e0f;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Navigation Styles */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  padding-top: 15px;
}

li {
  display: inline;
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  padding-bottom: 10px;
}

li a:hover {
  border-bottom: 2px solid var(--main-color);
}

/* Nav End */

/* Header */

.header {
  background: url("../images/pexels-nao-triponez-129207.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  text-align: center;
}

.main-headings {
  position: absolute;
  top: 7rem;
  font-size: 4rem;
  word-spacing: 10px;
}

.primary-heading {
  position: absolute;
  bottom: 4rem;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -40px;
}

.main-btn {
  position: absolute;
  bottom: 2rem;
  padding: 10px 30px;
  margin-top: 20px;
  background: transparent;
  background: var(--main-color);
  transform: translateY(60px);
}
