@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
}

/* Utility Styles */

button {
  padding: 10px 30px;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
}

/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #100e0f;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Navigation Styles */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  padding-top: 15px;
}

li {
  display: inline;
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  padding-bottom: 10px;
}

li a:hover {
  border-bottom: 2px solid var(--main-color);
}

/* Nav End */

/* Header */

.header {
  background: url("./images/pexels-nao-triponez-129207.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  text-align: center;
  margin-top: 10px;
}

.main-headings {
  position: absolute;
  top: 7rem;
  font-size: 4rem;
  word-spacing: 10px;
}

.primary-heading {
  position: absolute;
  bottom: 4rem;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -40px;
}

.main-btn {
  position: absolute;
  bottom: 2rem;
  padding: 10px 30px;
  margin-top: 20px;
  background: transparent;
  background: var(--main-color);
  transform: translateY(60px);
}
/*Header ends*/

/* Our Story */
#our-story {
  /* height: 100vh; */
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.coffee-img {
  width: 400px;
  height: 400px;
  background: url("./images/pexels-chitokan-2183027-removebg-preview.png");
  background-position: center;
  background-size: cover;
}

.title-style {
  display: flex;
  align-items: center;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  color: #fff;
  transform: translateX(-100px);
}

.line {
  width: 100px;
  height: 2px;
  background: #fff;
  transform: translateX(120px);
}

.section-content p {
  max-width: 500px;
  color: #fff;
  font-family: sans-serif;
  line-height: 20px;
  margin: 20px 0;
}

/* Our Story Ends */

/* Coffee Start */

.coffee-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
}

.img-2 {
  width: 400px;
  height: 400px;
}

.title-two {
  font-size: 3rem;
  color: #fff;
  font-family: "Playfair Display", serif;
}

.content-section p {
  max-width: 500px;
  margin-top: 20px;
  font-family: sans-serif;
  color: #fff;
}

/* Coffee Start End */

/* Products */

.products {
  margin-top: 5rem;
}

.title-three {
  font-size: 4rem;
  margin: 10rem 10rem;
  color: #fff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card {
  border: 2px solid var(--main-color);
  padding: 0 20px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  position: relative;
  margin-bottom: 4rem;
}

.card-img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -60px;
}

.img-one {
  background: url("images/1.png");
  background-position: center;
  background-size: cover;
}

.img-two {
  background: url("images/2.png");
  background-position: center;
  background-size: cover;
}

.img-three {
  background: url("images/3.png");
  background-position: center;
  background-size: cover;
}

.card-title {
  color: #fff;
  font-family: sans-serif;
  margin-top: 50px;
}

.card .items p {
  color: #fff;
  margin: 20px 0;
  font-family: sans-serif;
}

/* Footer */

.footer {
  background-color: var(--primary-color);
  padding: 20px 0;
  text-align: center;
}

footer {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: sans-serif;
}

footer .container {
  margin: 20px;
  max-width: 300px;
  text-align: center;
}

footer .header-info h2 {
  margin-bottom: 20px;
}

footer p {
  line-height: 25px;
}

span {
  color: var(--main-color);
}

hr {
  margin-bottom: 20px;
  border: var(--main-color);
  width: 500px;
}

.para {
  margin-top: auto;
  padding: 2rem;
  color: #fff;
  text-align: center;
}

/* Project End */
