* {
  margin: 0;
}

div {
  height: 100vh;
  /* background-color: greenyellow; */
  /* background-image: url("https://images.unsplash.com/photo-1767304590980-9c075c875c38?q=80&w=1255&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */

  background: url("https://images.unsplash.com/photo-1767283091033-59b9333994e1?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center/cover fixed;
}
