body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.s {
  background: crimson;
  width: calc(200px + 100px);
  height: calc(100px - 20px);
  margin: calc(20px * 2);
  padding: calc(200px / 10);
  border-radius: 15px calc(15px / 10) 4px 2px;
}
