* {
  margin: 0;
}

div {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  /* Filters */

  /* filter: blur(2px); */
  /* filter: brightness(50%); */
  /* filter: contrast(80%); */
  /* filter: grayscale(50%); */
  filter: saturate(90%);
}

/* Linear Gradients Examples */

/* linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0.116),
      rgba(220, 20, 60, 0.105),
      rgba(255, 166, 0, 0.112)
    ), */

/* radial-gradient(
      rgba(0, 0, 255, 0.169),
      rgba(135, 207, 235, 0.258)
    ), */
