* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: blueviolet;
  /* margin: 20px; */
}

.container {
  width: 800px;
  height: 450px;
  border: 2px solid white;
  margin: 20px auto;

  /* Flexbox properties should always be in container */
  display: flex;
  /* flex-direction (row) is by defualt  */
  flex-direction: row;
  /* MAIN AXIS  ->  horizontal*/
  /* justify-content it's default value is flex-start */
  /* justify-content: space-around; */

  /* flex-wrap it's default value is nowrap */
  /* flex-wrap: wrap;  */

  /* CROSS AXIS -> vertical */
  /* align-items it's default value is flex-start */
  /* align-items: flex-end; */

  /* align-content it's default value is stretch */

  /* flex-wrap: wrap;
  align-content: space-around; */
}

/* Quick way to remember

justify-content → main axis → moves items along the main line

align-content → cross axis → moves multiple lines along the cross axis */

.container .child {
  width: 50px;
  height: 50px;
  background-color: red;
  text-align: center;
  margin: 5px;

  /* Giving width again to test Shrink */
  width: 400px;
}

.special {
  /* order: 1; */
  /* align-self: center; */
  /* flex-grow: 1; */
  /* flex-basis: 20px; */
  flex-shrink: 2;
}

.special-two {
  /* flex-grow: 4; */
  /* order: 2; */
  /* flex-basis: 100px; */
  flex-shrink: 2;
}
