* {
  margin: 0;
}

.container {
  background-color: rgb(34, 34, 34);
  padding: 20px;
  height: 100vh;

  /* Grid here */
  display: grid;
  /* auto-fit auto-fill */
  /* grid-template-columns: repeat(auto-fit, 200px); */
  /* grid-template-columns: 100px 100px 100px; */
  /* grid-template-columns: repeat(3, 200px); */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: 1fr minmax(200px, 1fr) 1fr; */

  /* Grid + flexbox */
  grid-template-columns: repeat(4, 100px);

  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-rows: repeat(4, 200px);
  grid-gap: 10px;

  /* justify-content: center;
  align-items: center; */

  grid-template-areas:
    "h h h h"
    " m m m m"
    "s s . a "
    "f f f f";
}

header {
  grid-area: h;
}

main {
  grid-area: m;
}

section {
  grid-area: s;
}

aside {
  grid-area: a;
}

footer {
  grid-area: f;
}

/* header {
  order: 1;
}

main {
  order: 2;
} */

/* header {
  align-self: center;
} */

/* header { */
/* grid-column-start: 1; */
/* grid-column-end: 3; */

/* Short Hand column*/
/* grid-column: 1 / 4; */

/* grid-row-start: 1; */
/* grid-row-end: 3; */

/* Short Hand row*/
/* grid-row: 1/3; */
/* } */

.s {
  padding: 20px;
  background-color: rgb(84, 84, 84);
  text-align: center;
  color: #fff;
  /* margin: 10px; */
}
