* {
  margin: 0;
}

.container {
  background-color: rgb(34, 34, 34);
  padding: 20px;
  height: 100vh;

  /* Grid here */
  display: grid;
  /* grid-template-columns: 200px 200px 200px; */
  /* grid-template-columns: repeat(3, 200px); */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

header {
  grid-column-start: 1;
  grid-column-end: 3;
}

aside {
  grid-column-start: 2;
  grid-column-end: 3;
}

.s {
  padding: 20px;
  background-color: rgb(84, 84, 84);
  text-align: center;
  color: #fff;
  /* margin: 10px; */
}
