/* section h1,
section h2,
section h3,
section h4,
section h5,
section h6,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  color: red;
} */

:is(section, article, aside, nav) :is(h1, h2, h3, h4, h5, h6) {
  color: blueviolet;
}
