/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Faster+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

html {
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Faster One", system-ui; */
  font-family: "Titillium Web", sans-serif;
}
